<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.run.entity.UserEn">
	
	<resultMap id="userMap" type="com.run.entity.UserEn">
		<result column="ID" property="id" />
		<result column="CODE" property="code" />
		<result column="NAME" property="name" />
		<result column="MOBILE" property="mobile" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" />
		<result column="STATUS" property="status" />
	</resultMap>	
	
	<sql id="columns">ID,CODE,NAME,MOBILE,CREATE_TIME,LAST_LOGIN_TIME,STATUS </sql>
	
	 <!-- 后台用户分页查询 -->
	 <select id="queryUserPage"  resultType="UserEn"  parameterType="java.util.Map">
		SELECT  r.*,r.CREATE_TIME as createTime,r.LAST_LOGIN_TIME as lastLoginTime   FROM R_USER r 
		<where>
			<if test="entity.code !=null and entity.code!=''">
			   AND r.code=#{entity.code}
			</if>	
			<if test="entity.name !=null and entity.name!=''">
			   AND r.name=#{entity.name}
			</if>
			<if test="entity.createTime !=null and entity.createTime !=''">
			   AND  <![CDATA[ r.CREATE_TIME  >= #{entity.createTime}]]>
			</if>	
			<if test="entity.createTime2 !=null and entity.createTime2 !=''">
			   AND  <![CDATA[ r.CREATE_TIME  <= #{entity.createTime2}]]>
			</if>		
		</where>
	</select>
	<!-- 保存用户 -->
	<insert id="saveUser" parameterType="com.run.entity.UserEn">
	INSERT INTO   R_USER ( <include refid="columns"/> )
		VALUES
		(
		#{id},
		#{code},
		#{name},
		#{mobile},
		#{createTime},
		#{lastLoginTime},
		#{status}
		) 
	</insert>
	<!-- 修改 用户 -->
	<update id="updateUser" parameterType="com.run.entity.UserEn">
		UPDATE R_USER 
		<set>
					<if test="code !=null ">
							code=#{code},
					</if>
					<if test="name !=null ">
							name=#{name},
					</if>
					<if test="mobile !=null">
							mobile=#{mobile},
					</if>
					<if test="status !=null">
							status=#{status},
					</if>
					<if test="1 ==1 ">
							last_login_time=now(),
					</if>
		</set>
		<where>
			<if test="id !=null and id !=''">
				AND ID=#{id}
			</if>
		</where>
	</update>
	
	<!-- 批量删除用户 -->
    <delete id="delUser" parameterType="java.util.List">
        	delete from R_USER where id in
	        <foreach item="id" collection="list" open="(" separator="," close=")">
	            #{id}
	        </foreach>
    </delete>
    
    	<!-- 获取一个用户 -->
    <select id="getOneUser" parameterType="com.run.entity.UserEn"  resultType="UserEn">
			SELECT  r.*,r.CREATE_TIME as createTime,r.LAST_LOGIN_TIME as lastLoginTime   FROM R_USER r 
		<where>
					<if test="id !=null ">
								    r.id=#{id}
				</if>
		</where>
	</select>
    
	<!-- 获得一个广告 -->
	<!--<select id="getOneAd" parameterType="com.ane.anm.entity.AdverisementEntity" resultMap="adMap">
		SELECT <include refid="columns"/> 
		FROM ANM_ADVERTISEMENT 
		<where>
			<if test="adverisementId !=null and adverisementId!=''">
			   AND ADVERTISEMENT_ID=#{adverisementId}
			</if>		
		</where>
	</select>
 	逻辑删除 广告
	<update id="delAd" parameterType="com.ane.anm.entity.AdverisementEntity">
		UPDATE ANM_ADVERTISEMENT 
		<set>
					<if test="flagStatus !=null  and flagStatus!=''">
							FLAG_STATUS=#{flagStatus},
					</if>
		</set>
		<where>
			<if test="adverisementId !=null and adverisementId!=''">
				AND ADVERTISEMENT_ID=#{adverisementId}
			</if>
		</where>
	</update>
	
	移动端 查询广告 
	<select id="getAdverListM" parameterType="java.util.Map" resultMap="adMap">
				SELECT <include refid="columns"/> FROM ANM_ADVERTISEMENT
				WHERE FLAG_STATUS='0'
				ORDER BY   AD_SORT ASC
	</select> -->
</mapper>